@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300
    font-size: 15px;
    color: #DA90E0;
    background-color: #DDDDDF;
}

h1 {
    font-size: 30px;
    color: #DCABDF;
}

h2 {
    font-size: 20px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #26BBD2;
}

a:hover {
  color: #1B6295;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
  font-size: 40px;
}

#prof {
    border-radius: 50%;


}

.card {
  margin: 40 auto;
  text-align: center;
  background: #fafafa;
  padding: 50px;
  border: 1px solid #FDF8F7;
  box-shadow: 2px 2px 3px #D9D9D9;
}
